body {
	margin: 0;
}

header {

	background: #400;
	color: white;
	padding: 5px 15px 0 5px;
}

header h1 {
	font-family: arial;
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0 0 0 10px;
	display: inline;
}

nav ul li {
	background: black;
	color: white;
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 5px;
}

nav ul li a {
	color: white;
}

.row{
	clear: both;
}

.col {
	font-family: arial;
	background: #333;
	float: left;
	border-radius: 5px;
	color: white;
	padding: 10px 10px;
	margin: 0.5%;
	width: 45%;
	height: 70px;

}

.col2 {
	font-family: arial;
	background: #777;
	border-radius: 5px;
	color: white;
	padding: 10px 10px;
	margin: 0.5%;
	width: 50%;
	height: 50%;
}

.col3 {
	font-family: arial;
	background: white;
	color: black;
	padding: 10px 10px;
	margin: 0.5%;
	width: 95%;
	height: 35px;
}

.pic {
	width: 400px;
	margin: 0.5%;
	padding: 10px 10px;
	float: left;
}

.pic2 {
	width: 400px;
	margin: 0.5%;
	padding: 0 10px;
	float: right;
}

.pic3{
	width: 50%;
	margin: 0.5%;
	padding: 10px 10px;
	float: left;
}

footer {
	float: left;
	clear: both;
	height: 60px;
}



